.inventoryList {
  margin: 0 auto;
  .searchId {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 10rem 0;
    .searchIdInput {
      border: none;
      font-size: 1.6rem;
      text-align: center;
      height: 4rem;
      width: 30rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      outline: none;
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
      background: rgba(255, 255, 255, 0.8);
      &:focus {
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        &::placeholder {
          color: transparent;
        }
      }
    }
    .searchIdButton {
      border: none;
      border-radius: 0.5rem;
      padding: 1rem;
      transition: all 0.2s;
      background-color: white;
      color: #d36611;
      &:hover {
        background-color: #d36611;
        color: white;
      }
    }
  }
  .InventoryInfos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8.5rem;
    .searchItems {
      border: none;
      height: 2.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
    span {
      font-size: 1.8rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      gap: 0.5rem;
    }
  }
  .inventoryDisplay {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 4rem;
    .inventoryItemCard {
      position: relative;
      height: 15rem;
      width: 15rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer;
      transition: scale 0.2s;
      border-radius: 1rem;
      &:hover {
        scale: 1.1;
      }
      .inventoryBackground {
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 1rem;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border: 1px solid rgba(255, 255, 255, 0.22);
      }
      .inventoryItemImage {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          position: absolute;
          top: 15%;
          max-height: 100%;
          width: 100%;
          padding: 1rem;
        }
      }
      .inventoryItemInfos {
        height: 100%;
        position: absolute;
        color: white;
        font-size: 1.2rem;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
        padding: 0.5rem;
        text-shadow: black 0.01rem 0 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
