.inventory {
  margin: 0 auto;
  width: 153.6rem;
  background-image: url(/src/assets/images/Counter-Strike_2_Website_Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
