@font-face {
  font-family: 'Stratum2';
  src: url('/fonts/stratum2-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$Stratum2: 'Stratum2', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $Stratum2;
  overflow-x: hidden;
  background-image: url(/src/assets/images/Counter-Strike_2_Website_Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: black;
}

.container {
  margin: auto;
  width: 128rem;
}

h1 {
  font-size: 4.8rem;
  padding: 5rem 0 3rem 0;
  color: white;
  font-style: italic;
  text-shadow: black 1px 0 10px;
  text-align: center;
}
